
body
{
	background-image: url("dark_pattern.png") center;
	background-color: black;
	color: white;
	/* Fonts to Use
	font-family: 'Raleway', sans-serif;
	font-family: 'Pacifico', cursive;
	font-family: 'Goudy Bookletter 1911', serif;*/
}
h1
{
	text-align: center;
	color: #FFE361;
	font-family: 'Pacifico', cursive;
	font-size: 80px;
	clear: both;
	/* #FFE361 is yellow
	#D2D2D3 is gray #FFFFFF is white 
	#8A0651 is dark magenta */
}
#nav
{
	padding: 0px 30px 5px 5px;
	position: fixed;
	right: 0;
	top: 0;
	background: black;
}
#nav a
{
	text-transform: uppercase;
	color: #D2D2D3;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
}
#nav a:hover
{
	color: #FFE361;
	text-decoration: none;
}
#nav li
{
	display: inline;
	padding: 0px 10px 0px 10px;
}
h2
{
	font-family: 'Pacifico', cursive;
}
p
{
	font-family: 'Goudy Bookletter 1911', serif;
}
input
{
	border: 0px;
	color: black;
}
input[type="submit"]
{
	background: #8A0651;
	color: white;
}
/*form
{
	padding: 10px 10px 10px 40px;
}*/
.about
{
	width: 400px;
	height: 600px;
	padding: 10px;
	margin: 0 auto;
}
.portfolio
{
	margin-left: 100px;
}
.portfolio p
{
	font-family: 'Raleway', sans-serif;
}
.skills
{
	width: 400px;
	padding: 10px;
	margin-left: 100px;
	font-family: 'Raleway', sans-serif;
}
.skills p
{
	font-family: 'Raleway', sans-serif;
}
.contact
{
	margin: 0px 0px 0px 40px;
}
.contact a
{
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #D2D2D3;
}
.contact a:hover
{
	color: #FFE361;
}
button
{
	margin: 5px 5px 5px 40px;
	background: #8A0651;
	color: white;
	border: 0px;
}
.social_media
{
	bottom: 0;
	float: right;
	padding-right: 120px;
}
.social_media li
{
	display: inline;
	padding: 0 10px 0 10px;
}
.social_media a
{
	color: #D2D2D3;
	text-decoration: none;
}
.social_media a:hover
{
	color: #FFE361;
}
.innerimg
{
	position: absolute;
	bottom: -100px;
	height: 165px;
	width: 100px;
}
.outerimg
{
	overflow: hidden;
	position: relative;
	width: 100px;
	height: 85px;
	float: right;
}
.innerimg div:hover
{
	margin-top: -20px;
	transition: margin 1s;
}
.logo
{
	font-family: 'Pacifico', cursive;
	font-size: 60px;
	position: relative;
	top: 0;
}
.logo a 
{
	color: #FFE361;
	text-decoration: none;
	font-weight: bold;
}
.float_logo
{
	position: fixed;
	bottom: 0;
	right: 0;
}